body {
  background-color: #043f5b;
}

.pagina-containerr {
  display: flex;
}

.conteudo-principall {
  flex: 1;
  padding: 30px;
  background-color: whitesmoke;
}

.ppPGM {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  color: #7b7b7b;
  text-align: justify;
  width: 55vw;

} 

.ppP {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  color: #7b7b7b;
  text-align: justify;

} 

.H1-PGM {
  color: #043f5b;
}

.livroPGM {
  width: 15vw;
  height: 50vh;
  
}

.img1PGM {
  width: 30vw;
  height: 35vh;
}

.img2PGM {
  width: 30vw;
  height: 35vh;
}

.f-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.f-containerr {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.junt-text {
 display: flex; /*Problema está aqui! Deve estar conflitando com alguma página. */
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.junt-imag {
  display: flex;
  flex-direction: column;
   padding: 10px;
}

.junt-imags {
  margin-left: 25%;
}

.H1-PGMe {
  color: #043f5b;
  margin-left: 22.5%;
}
