body {
  margin: 0;
  background-color: #043f5b;
  color: #d3d3d3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  color: #07618ab3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.card {
  background: rgb(67, 87, 115);
  padding: 10px;
  margin: 5%;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
  font-family:'Times New Roman', Times, serif;
  font-size: 1em;
}

.card:hover {
  transform: scale(1.05);
  border-color: #85888ab3;
  box-shadow: 0 0 15px #7172728f;
}

.imagens {
  width: 15vw;
  height: 30vh;
  border-radius: 8px;
  margin-top: 2%;
  margin-bottom: 15px;
}

.name {
  font-size: 1.5em;
  color: #ccc9c9b2;
}

.description {
  font-size: 0.95em;
  color: #e5e7eb;
}

.collab {
  margin-top: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photos {
  margin-top: 5%;
  margin-bottom: 9%;
}

.collab-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #ccc9c9b2;
}

.logos {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  gap: 5px; 
  padding: 10px;
  flex-wrap: nowrap; /* Garante que fiquem em uma única linha */
  width: 10vw;
  height: 10vh;
}

.logs {
  width: 11vw; 
  height: auto; 
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  transition: transform 0.5s ease;
  border-radius: 10%;
}

.logs1 {
  width: 16vw; 
  height: auto; 
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  transition: transform 0.5s ease;
  border-radius: 10%;
}

.logs2 {
  width: 12vw; 
  height: auto; 
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  transition: transform 0.5s ease;
}

.logs:hover {
  transform: rotate(10deg) scale(1.1);
}

.logs1:hover {
  transform: rotate(10deg) scale(1.1);
}

.logs2:hover {
  transform: rotate(10deg) scale(1.1);
}

.tttxxt {
  background-color: rgb(67, 87, 115);
  color: white;
  font-size: 1em;
  padding: 10px;
  width: 90vw;
}

.text0 {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (max-width: 599px) {
  .title {
    font-size: 1.5em;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .imagens {
    width: 60vw;
    height: auto;
  }

  .logos {
    flex-wrap: wrap;
    width: 90vw;
    height: auto;
    gap: 10px;
  }

  .logs, .logs1, .logs2 {
    width: 20vw;
  }

  .tttxxt {
    font-size: 0.9em;
    text-align: justify;
  }

  .collab-title {
    font-size: 1.5em;
  }

  .name {
    font-size: 1.2em;
  }

  .description {
    font-size: 0.9em;
  }
}

/* Para dispositivos até 800px */
@media (max-width: 800px) and (min-width: 699px) {
  .title {
    font-size: 2em;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
  }

  .imagens {
    width: 60vw;
    height: auto;
  }

  .logos {
    width: 80vw;
  }

  .logs, .logs1, .logs2 {
    width: 20vw;
  }

  .tttxxt {
    font-size: 1em;
  }

  .collab-title {
    font-size: 1.8em;
  }

  .name {
    font-size: 1.3em;
  }

  .description {
    font-size: 0.95em;
  }
}