body {
  margin: 0;
  background-color: #043f5b;
  color: #d3d3d3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}


.title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  color: #07618ab3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.grid {
  display: grid; /* Define o elemento como um container de grid, permitindo o uso do Grid Layout. */
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  /* Cria colunas responsivas:
   - 'repeat(auto-fit, ...)' faz com que o grid crie automaticamente o maior número possível de colunas que caibam no container.
   - 'minmax(260px, 1fr)' define que cada coluna deve ter no mínimo 260px de largura e pode crescer até ocupar uma fração igual do espaço disponível.
   - Isso garante que as colunas se ajustem de forma flexível ao tamanho da tela, mantendo um mínimo de largura para cada item. */
  gap: 30px;
}

.card {
  background: rgb(67, 87, 115);
  padding: 10px;
  margin: 5%;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
}

.card:hover {
  transform: scale(1.05);
  border-color: #85888ab3;
  box-shadow: 0 0 15px #7172728f;
}

.imagens {
  width: 15vw;
  height: 30vh;
  border-radius: 8px;
  margin-top: 2%;
  margin-bottom: 15px;
}

.name {
  font-size: 0.95em;
  color: #a6a6a6;
}

.description {
  font-size: 0.95em;
  color: #e5e7eb;
}

.collab {
  margin-top: 60px;
  text-align: center;
}

.collab-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #a6a6a6;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 0.2vw;
  height: 0.2vh;
  flex-wrap: wrap;
}

.logs {
  width: 10vw;
  height: 18vh;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.logs:hover {
  transform: rotate(10deg) scale(1.1);
}

.logs1 {
  width: 15vw;
  height: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.logs1:hover {
  transform: rotate(10deg) scale(1.1);
}

.logs2 {
  width: 13vw;
  height: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.logs2:hover {
  transform: rotate(10deg) scale(1.1);
}

.photos {
  margin-top: 7%;
  margin-bottom: 9%;
  margin-right: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tttxxt {
  background-color: rgb(67, 87, 115);
  color: white;
  font-size: 1em;
  padding: 10px;
  width: 90vw;
  text-align: justify;
}

.text0 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5%;
}


@media (max-width: 599px) {
  .title {
    font-size: 0.4em;
  }

  .imagens {
    width: 38vw;
    height: 45vh;
  }

  .logs {
    width: 20vw;
    height: 20vh;
    margin-top: 7%;
  }

  .logs1 {
    width: 20vw;
    height: 20vh;
  }

  .logs2 {
    width: 20vw;
    height: 20vh;
  }
  

  .tttxxt {
    font-size: 0.9em;
    width: 95vw;
  }

  .collab-title {
    font-size: 1.5em;
    margin-bottom: 7%;
  }

  .collab {
    margin-top: 7%;
  }

  .name, .description {
    font-size: 0.85em;
  }
}

@media (min-width: 699px) and (max-width: 800px) {
  .title {
    font-size: em;
  }

  .imagens {
    width: 30vw;
    height: 30vh;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 15px;
}

  .logs, .logs1, .logs2 {
    width: 15vw;
    height: auto;
  }

  .photos {
    margin-top: 12%;
    margin-bottom: 12%;
    margin-right: 55%;
  }

  .tttxxt {
    font-size: 0.95em;
    width: 90vw;
  }

  .collab-title {
    font-size: 1.8em;
  }

  .name, .description {
    font-size: 0.9em;
  }
}