body {
  margin: 0;
  background-color: #043f5b;
  color: #d3d3d3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}


.title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  color: #07618ab3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.card {
  background: rgb(67, 87, 115);
  padding: 10px;
  margin: 5%;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
}

.card:hover {
  transform: scale(1.05);
  border-color: #85888ab3;
  box-shadow: 0 0 15px #7172728f;
}

.imagens {
  width: 15vw;
  height: 30vh;
  border-radius: 8px;
  margin-top: 2%;
  margin-bottom: 15px;
}

.name {
  font-size: 1.5em;
  color: #93c5fd;
}

.description {
  font-size: 0.95em;
  color: #e5e7eb;
}

.collab {
  margin-top: 60px;
  text-align: center;
}

.collab-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #60a5fa;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 0.2vw;
  height: 0.2vh;
  flex-wrap: wrap;
}

.logs {
  width: 9vw;
  height: 9vh;
  transition: transform 0.5s ease;
}

.logo:hover {
  transform: rotate(10deg) scale(1.1);
}

.tttxxt {
  background-color: rgb(67, 87, 115);
  color: white;
  font-size: 1em;
  padding: 10px;
  width: 90vw;
}

.text0 {
  display: flex;
  flex-direction: column;
  align-items: center;
}