.IMG1F {
     width: 25vw;
    height: 35vh;
    
}

.IMG2F {
    width: 25vw;
    height: 35vh;
}

.IMG3F {
    width: 25vw;
    height: 35vh;
}

.juntIMG {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.juntIMG:hover img {
  transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
  filter: brightness(1.1); /* Aumenta o brilho da imagem ao passar o mouse */
}

.ppFI {
    width: 92vw;
}


.juntppFI3 {
    display: flex;
    flex-direction: row;
    width: 92vw;
    gap: 5%;

}

.juntppFI1 {
    display: flex;
    flex-direction: column;

}

.juntppFI2 {
    display: flex;
    flex-direction: column;
}

.ppRESF {
    width: 92vw;
} 

.h2titulo {
  color: #043f5b;
}