body {
  background-color: #a6a6a6;
}
.parallax-section {
  height: 100vh;
  background-image: url("../assets/PARALLAX.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 5px #778084;
  font-size: 2rem;
  text-align: center;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  color: #062a3c;
}

.H3-HomePage {
  color: #062a3c;
}

.H4-HomePage {
  font-size: 0.7em;
  margin-left: 6%;
  color: #043f5b;
  width: 85vw;
}

.back {
  background-color: #a6a6a6;
  padding: 2px 2px;
  width: 97vw;
}

.navegacao {
  background-color: #043f5b;
  color: #a6a6a6;
}

.navegacao a {
  color: #a6a6a6;
}

.navegacao a:hover {
  background-color: #062a3c;
}
