/* Estiliza o corpo da página com fundo azul escuro, fonte clássica e cor base neutra */
body {
  background-color: #778084; 
  margin: 0;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}

/* Container geral da página com flexbox e adaptação para telas menores */
.paggina-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

/* Área principal do conteúdo com fundo claro, sombra e bordas suaves */
.conteudo-pprincipal {
  flex: 1;
  padding: 30px;
  background-color: #f9f9f9; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* sombra sutil */
  max-width: 1200px;
  animation: fadeIn 0.7s ease-in-out;
}

.parallax-section {
  height: 100vh;
  background-image: url("../assets/PARALLAX.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 5px #778084;
  font-size: 2rem;
  text-align: center;
}

.pHome {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  text-align: justify;
  color: #062a3c;
}

.H3-HomePage {
  color: #062a3c;
}

.H4-HomePage {
  font-size: 0.7em;
  color: #043f5b;
  background-color: #a6a6a6;
  padding: 10px 10px;
  width: 81vw;
} 



/* Tablets (600px a 1024px) */
@media (max-width: 800px) and (min-width: 600px) {
  .conteudo-pprincipal {
    padding: 20px;
    font-size: 1em;
  }

  .H4-HomePage {
    width: 90vw;
    font-size: 0.8em;
  }

  .parallax-content {
    font-size: 1.5rem;
    padding: 0 10px;
  }
}

/* Celulares (até 599px) */
@media (max-width: 599px) {
  .pagina-contaiiner {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
  }

  .conteudoo-prinncipal {
    padding: 15px;
    max-width: 100%;
  }
  
  .H4-HomePage {
    width: 85vw;
    font-size: 0.75em;
    padding: 8px;
  }

 
  .parallax-content {
    font-size: 1.2rem;
    padding: 0 15px;
  }

  .pHome {
    font-size: 1em;
  }
}
