/* Estiliza o corpo da página com fundo azul escuro, fonte clássica e cor base neutra */
body {
  background-color: #778084; 
  margin: 0;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}

/* Container geral da página com flexbox e adaptação para telas menores */
.pagina-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

/* Área principal do conteúdo com fundo claro, sombra e bordas suaves */
.conteudo-principal {
  flex: 1;
  padding: 30px;
  background-color: #f9f9f9; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* sombra sutil */
  max-width: 1200px;
  animation: fadeIn 0.7s ease-in-out;
}

.parallax-section {
  height: 100vh;
  background-image: url("../assets/PARALLAX.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 5px #778084;
  font-size: 2rem;
  text-align: center;
}

.pHome {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  text-align: justify;
  color: #062a3c;
}

.H3-HomePage {
  color: #062a3c;
}

.H4-HomePage {
  font-size: 0.7em;
  color: #043f5b;
  background-color: #a6a6a6;
  padding: 10px 10px;
  width: 81vw;
} 



