.resum {
    background-color: #a6a6a6;
    border-radius: 10px 10px 10px solid;
    display: flexbox;
    flex-direction: column;
    padding: 10px;
    margin-right: 50%;
}

.paragh {
    text-align: justify;
    color: #043f5b;
    font-size: 1em;
}


.imagens {
    width: 30vw;
    height: 40vh;
}
