.footer {
    padding: 20px;
    background-color: #a6a6a6;
    height: 7 0vh; 
    text-align: center;
  }
  
  .top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
  }
  
  .line {
    border: 1px solid #ccc;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.02%;
  }
  
  .item {
    flex: 1;
    margin: 0 0.7%;
    padding: 10px;
    background-color: #043f5b;
    width: 26vw;
    height: 26vh;
    font-size: 0.65em;
    text-align: center;
    color: white;
  }

  .item_2 {
    flex: 1;
    margin: 0 0.7%;
    padding: 10px;
    background-color: #043f5b;
    color: white;
    width: 26vw;
    height: 26vh;
    font-size: 0.65em;
    text-align: center;
   
  }

  a {
    text-decoration: none;
    color: white;
  }

  .item_3 {
    flex: 1;
    margin: 0 0.7%;
    padding: 10px;
    background-color: #043f5b;
    width: 26vw;
    height: 26vh;
    color: white;
    font-size: 0.65em;
    text-align: center;
    text-decoration: none;
  }

  .item_4 {
    flex: 1;
    margin: 0 0.7%;
    padding: 10px;
    background-color: #043f5b;
    width: 26vw;
    height: 26vh;
    font-size: 0.65em;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  .item_5 {
    flex: 1;
    margin: 0 0.7%;
    padding: 10px;
    background-color: #043f5b;
    width: 26vw;
    height: 26vh;
    font-size: 0.9em;
    color: white;
    text-align: justify;
  }

  .item_6 {
    flex: 1;
    margin: 0 0.7%;
    padding: 10px;
    background-color :#043f5b;
    width: 26vw;
    height: 26vh;
    font-size: 0.9em;
    color: white;
    text-align: start;
    text-align: justify;
  }

  .image-contain {
    margin-top: 0.011%;
    margin-bottom: 0.011%;
  }
  
  .imggg {
    width: 20vw;
    height: 40vh;

  }

  .txt {
    color: white;
    font-size: 0.9em;
    margin-top: 2%;
  }

  .textt {
    text-align: start;
    text-align: justify;
    color: white;
    font-size: 0.9em;
  }

  .pss {
    color:#ccc9c9b2;
    font-size: 1em;
  }

  .psss {
    color: white;
    font-size: 1em;
  }