.footer {
  padding: 25px;
  background-color: #043f5b;
  height: 90vh;
  text-align: center;
  height: 135vh;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.line {
  border: 1px solid #ccc;
}

.linhaa {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.02%;
}

.itens {
  flex: 1;
  margin: 0.7%;
  padding: 10px;
  background-color: #a6a6a6;
  width: 26vw;
  height: 34vh;
  font-size: 0.67em;
  text-align: center;
  color: white;
}

.itens_2 {
  flex: 1;
  margin: 0.7%;
  padding: 10px;
  background-color: #a6a6a6;
  color: white;
  width: 26vw;
  height: 34vh;
  font-size: 0.67em;
  text-align: center;

}

a {
  text-decoration: none;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.itens_3 {
  flex: 1;
  margin: 0.7%;
  padding: 10px;
  background-color: #a6a6a6;
  width: 26vw;
  height: 34vh;
  color: white;
  font-size: 0.67em;
  text-align: center;
  text-decoration: none;
}

.itens_4 {
  flex: 1;
  margin: 0.7%;
  padding: 10px;
  background-color: #a6a6a6;
  width: 26vw;
  height: 34vh;
  font-size: 0.67em;
  color: white;
  text-align: center;
  text-decoration: none;
}

.itens_5 {
  flex: 1;
  margin: 0.7%;
  padding: 15px;
  background-color: #a6a6a6;
  width: 28vw;
  height: 36vh;
  font-size: 0.9em;
  color: white;
  text-align: justify;
  margin-bottom: 4%;
}

.itens_6 {
  flex: 1;
  margin: 0.7%;
  padding: 15px;
  background-color: #a6a6a6;
  width: 28vw;
  height: 36vh;
  font-size: 0.9em;
  color: white;
  text-align: start;
  text-align: justify;
  margin-bottom: 4%;
}

.image-contain {
  margin-top: 4%;
  margin-bottom: 2%;
}

.img_blue {
  width: 15vw;
  height: 17vh;

}

.txtt {
  color: white;
  font-size: 0.9em;
  margin-top: 2%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.texxtt {
  text-align: start;
  text-align: justify;
  color: white;
  font-size: 0.9em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.parg {
  color: #095b82ef;
  font-size: 1.04em;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.pssss {
  color: white;
  font-size: 0.9em;
  text-align: center;
}


@media (max-width: 599px) {
  .top-section {
    flex-direction: column;
    align-items: center;
  }

  .itens,
  .itens_2,
  .itens_3,
  .itens_4 {
    width: 90vw;
    height: auto;
    font-size: 0.4em;
  }

  .a {
    font-size: 0.5em;
  }

  .img_blue {
    width: 70vw;
    height: auto;
  }
}


@media (min-width: 699px) and (max-width: 800px) {
  .top-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .itens,
  .itens_2,
  .itens_3,
  .itens_4,
  .itens_5,
  .itens_6 {
    width: 40vw;
    height: auto;
    font-size: 0.85em;
  }

  .img_blue {
    width: 25vw;
    height: auto;
  }
}
