.footer {
  padding: 25px;
  background-color: #043f5b;
  height: 90vh;
  text-align: center;
  height: 142vh;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.line {
  border: 1px solid #ccc;
}

.linhaa {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.02%;
}

.itens {
  flex: 1;
  /* - O item com 'flex: 1' ocupará um espaço proporcional em relação a outros itens que também têm 'flex: 1'.
     - Se você tiver três itens com 'flex: 1', cada um ocupará 1/3 do espaço disponível no container flexível. */
  margin: 0.7%;
  padding: 10px;
  background-color: #a6a6a6;
  width: 26vw;
  height: 34vh;
  font-size: 0.67em;
  text-align: center;
  color: white;
}

.itens_2 {
  flex: 1;
  margin: 0.7%;
  padding: 10px;
  background-color: #a6a6a6;
  color: white;
  width: 26vw;
  height: 34vh;
  font-size: 0.67em;
  text-align: center;

}

a {
  text-decoration: none;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
}

.itens_3 {
  flex: 1;
  margin: 0.7%;
  padding: 10px;
  background-color: #a6a6a6;
  width: 26vw;
  height: 34vh;
  color: white;
  font-size: 0.67em;
  text-align: center;
  text-decoration: none;
}

.itens_4 {
  flex: 1;
  margin: 0.7%;
  padding: 10px;
  background-color: #a6a6a6;
  width: 26vw;
  height: 34vh;
  font-size: 0.67em;
  color: white;
  text-align: center;
  text-decoration: none;
}

.itens_5 {
  flex: 1;
  margin: 0.7%;
  padding: 15px;
  background-color: #a6a6a6;
  width: 28vw;
  height: 30vh;
  font-size: 1em;
  color: white;
  text-align: justify;
  margin-bottom: 4%;
}

.itens_6 {
  flex: 1;
  margin: 0.7%;
  padding: 15px;
  background-color: #a6a6a6;
  width: 28vw;
  height: 30vh;
  font-size: 1em;
  color: white;
  text-align: start;
  text-align: justify;
  margin-bottom: 4%;
}

.image-contain {
  margin-top: 4%;
  margin-bottom: 2%;
}

.img_blue {
  width: 15vw;
  height: 17vh;

}

.txtt {
  color: white;
  font-size: 0.9em;
  margin-top: 2%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.texxtt {
  text-align: start;
  text-align: justify;
  color: white;
  font-size: 0.9em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.parg {
  color: #095b82ef;
  font-size: 1.4em;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.pssss {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
}


@media (max-width: 400px) {
  .top-section {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding: 25px;
    background-color: #043f5b;
    text-align: center;
    height: 145vh;
  }

  .itens_2 {
    flex: 1;
    padding: 10px;
    background-color: #a6a6a6;
    width: 26vw;
    height: 40vh;
    font-size: 0.57em;
    text-align: center;
    color: white;
  }

  .itens_3 {
    flex: 1;
    padding: 10px;
    background-color: #a6a6a6;
    width: 26vw;
    height: 40vh;
    font-size: 0.49em;
    text-align: center;
    color: white;
  }

  .itens_4 {
    flex: 1;
    padding: 10px;
    background-color: #a6a6a6;
    width: 26vw;
    height: 40vh;
    font-size: 0.57em;
    text-align: center;
    color: white;

  }

  .itens_5 {
    flex: 1;
    padding: 15px;
    background-color: #a6a6a6;
    width: 28vw;
    height: 39vh;
    font-size: 0.63em;
    color: white;
    text-align: justify;
    margin-bottom: 4%;
  }

  .itens_6 {
    flex: 1;
    padding: 15px;
    background-color: #a6a6a6;
    width: 28vw;
    height: 39vh;
    font-size: 0.64em;
    color: white;
    text-align: justify;
    margin-bottom: 4%;
  }

  .itens {
    flex: 1;
    padding: 10px;
    background-color: #a6a6a6;
    width: 26vw;
    height: 40vh;
    font-size: 0.67em;
    text-align: center;
    color: white;
  }


  .img_blue {
    width: 25vw;
    height: 15vh;
  }

  .parg {
    font-size: 0.9em;
  }
}

.pssss {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.9em;
}

@media (min-width: 699px) and (max-width: 800px) {
  .top-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer {
    padding: 25px;
    background-color: #043f5b;
    height: 90vh;
    text-align: center;
    height: 165vh;
  }

  .itens,
  .itens_2,
  .itens_3,
  .itens_4,
  .itens_5,
  .itens_6 {
    width: 40vw;
    height: auto;
    font-size: 0.85em;
  }

  .img_blue {
    width: 17vw;
    height: 20vh;
  }
}