header {
    background-color: #043f5b; /* azul escuro */
    color: #a6a6a6; /* cinza claro para o texto */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
  }
  
  header h1 {
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
  }
  
  .Imagem {
    height: 40vh;
    width: 40vw;
  }
  
  .menu-icon {
    font-size: 1.5em;
    color: #a6a6a6;
    cursor: pointer;
  }
  