.navegacaoo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #a6a6a6;
    color: #043f5b;
    padding: 10px;
    width: 12vw;
  }
  
  .navegacaoo a {
    color: #043f5b;
    text-align: center;
    text-decoration: none;
    padding: 8px 0;
  }
  
  .navegacaoo a:hover {
    text-decoration: none;
    align-items: center;
    padding: 25px;
    background-color: #848383;
  }
  
  