.navegacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #043f5b;
    color: #a6a6a6;
    padding: 10px;
    width: 12vw;
  }
  
  .navegacao a {
    color: #a6a6a6;
    text-align: center;
    text-decoration: none;
    padding: 8px 0;
  }
  
  .navegacao a:hover {
    text-decoration: none;
    align-items: center;
    padding: 25px;
    background-color: #062a3c;
  }
  
  .pagina-container {
    display: flex;
  }

  .conteudo-principal {
    flex: 1;
    padding: 30px;
    background-color: whitesmoke;
  }