/* Contêiner principal do carrossel */
.carousel {
    position: relative;
    max-width: 42%; 
    overflow: hidden;
    margin-top: 3.8%;
  }
  
  /* Contêiner das imagens */
  .slides {
    display: flex;
    transition: transform 0.8s ease-in-out; /* Suaviza o movimento das imagens */
    width: 100%; /* A largura vai ocupar 100% da tela */
  }
  
  /* Estilo das imagens dentro do carrossel */
  .slides img {
    width: 100%; /* A largura das imagens será ajustada para 100% do carrossel */
    height: auto; /* Mantém a proporção das imagens retangulares */
    object-fit: cover; /* Faz com que a imagem cubra toda a área sem distorcer */
  }
  
  /* Botões de navegação */
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:black; /* Cor de fundo semitransparente */
    color: #a6a6a6;
    font-size: 10px; /* Aumenta o tamanho da fonte */
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #a6a6a65d; /* Efeito de hover */
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  