.botao-tema {
    width: 15vw;
    height: 7vh;
    position:absolute;
    top: 22%;
    left: 72.5%;
    z-index: 2000;
    padding: 10px 15px;
    background-color: #043f5b;
    color: #a6a6a6;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botao-tema.tema-claro {
    background-color: #a6a6a6;
    color: #043f5b;
}

.botao-tema.tema-escuro {
    background-color: #043f5b;
    color: #a6a6a6;
}